altair==4.2.0
bleach==5.0.1
dash==2.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
matplotlib==3.5.2
numpy==1.23.1
packaging==21.3
pandas==1.4.3
pandas-datareader==0.10.0
plotly==5.9.0
XlsxWriter==3.0.3
yfinance==0.1.74
